@keyframes pisca {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

body {
    margin: 0;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.urna {
    background-color: #cac3b9;
    padding: 45px;
    display: flex;
    border: 2px solid #555;
}

.tela {
    width: 750px;
    height: 500px;
    background: linear-gradient(to right, #fffffff1, #c5c5c5);
    border: 2px solid #555;
    display: flex;
    flex-direction: column;
}

.teclado {
    padding-top: 100px;
    background-color: #3a3737;
    margin-left: 40px;
    border: 2px solid #555;
}

.teclado--linha {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.teclado--botao {
    width: 70px;
    height: 40px;
    background-color: #000;
    color: #FFF;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0px #555;
}

.botao--branco {
    background-color: #FFF;
    color: #000;
    font-size: 15px;
}

.botao--corrige {
    background-color: #F09046;
    color: #000;
    font-size: 15px;
}

.botao--confirma {
    background-color: #48C079;
    color: #000;
    font-size: 15px;
    width: 90px;
    height: 50px;
}

.d-1 {
    flex: 1;
    display: flex;
}

.d-1-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.d-1-1 {
    height: 50px;
    display: flex;
    align-items: center;
}

.d-1-2 {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 30px;
}

.d-1-3 {
    padding-top: 50px;
    height: 50px;
}

.numero {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    padding-top: 15px;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}

.pisca {
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.d-1-4 {
    flex: 1;
    padding-top: 35px;
    line-height: 35px;
    font-size: 30px;
    font-weight: bold;
}

.d-1-right {
    width: 208px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.d-1-image {
    border: 1px solid #000;
    background-color: #FFF;
    text-align: center;
    font-size: 14px;
}

.d-1-image img {
    height: 190px;
    width: 100%;
}

.d-1-image.small {
    width: 85%;
    font-size: 12px;
}

.d-2 {
    height: 50px;
    font-size: 14px;
    border-top: 2px solid #000;
    padding-left: 10px;
}

.aviso--grande {
    font-size: 40px;
    font-weight: bold;
}

.aviso--gigante {
    font-size: 100px;
    font-weight: bold;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    text-transform: capitalize;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
  }

  .container {
    width: 50%;
    margin: 2rem auto;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }

  .candidatos {
    width: 50%;
    margin: 2rem auto;
    padding: 2rem 9%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f3d28f;
    font-size: 1.8rem;
  }
  
  .candidatos .candidato--vereador, .candidatos .candidato--prefeito {
    font-size: 20px;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2rem;
  }
  
  .candidatos span {
    font-weight: bold;
  }